.section-1{
    background-image: url(/src/Photos/pic/field.jpg);
    background-position: center;
    height: 345px;
    /* align-self: stretch; */
    background-repeat: no-repeat;
    opacity: 0.7;
}
.section-1 img{
    padding-top: 5%;
    width: 70%;
}
.section-2{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 15px;
    padding: 30px;
    border: 1px solid red;
    border-radius: 20px;
    color: whitesmoke;
    background: darkblue;
}
.part-two{
    height: 13em;
}
.part-two img{
    height: 260px;
    width: 525px;
    padding-left: 15%;
}
.section-3{
    margin-top: 15px;
    font-size: 22px;
}
.main-section2{
    background-color:rgb(1, 1, 60) ;
    color: whitesmoke;
}
.logo{
    width: 50px;
}
.logo2{
    width: 20px;
}
@media (max-width: 760px){
    .section-2{
    flex-direction: column;
    padding: 5px;
    border: 1px solid red;
    margin-left: 0%;
    width: 100%;
    }
    .main-section2{
        padding: 12px;
    }
    .part-one{
        width: 100%;
    }
    .part-one h3{
        font-size: 15px;
    }
    .part-one h1{
        font-size: 22px;
    }
    .part-two img{
        width: 270px;
        padding-left: 0;
        height: 192px;
    }
    .section-3 p{
        font-size: 12px;
    }
    .section-1 img {
        padding-top: 20%;
        height: 65%;
        width: 80%;
    }

}