* {
    margin: 0;
    padding: 0;
    }
  .first-section{
    background-image: url(/src/Photos/pic/field.jpg);
    background-position: center;
    height: 300px;
    background-repeat: no-repeat;
  }
  .first-section h1{
    padding-top: 8%;
    color: antiquewhite;
    font-size: 50px;
  }